@import '../../../index.scss';

.Versus {
	@include flexBox();
	width: 100%;
	background-color: $secondary;
	color: $light;
	background-size: cover !important;
	z-index: 1;

	&-wrapper {
		width: 100%;
		@include flexBox($ff: column nowrap);
		gap: 1em;
		background-color: $dark-acrylic;
		backdrop-filter: blur(1em);
		padding: 6em 0;
	}

	&-heading {
		width: 100%;
		text-align: center;
		font-size: 2em;
		font-weight: 700;
		animation: vayven 3s infinite ease;

		@keyframes vayven {
			0%,
			100% {
				rotate: 2deg;
			}
			50% {
				rotate: -2deg;
			}
		}
	}

	&-options {
		width: 90%;
		max-width: 33em;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		gap: 1em;
		margin-bottom: 2em;
	}

	&-picture {
		@include flexBox;
		width: 100%;
		height: 26em;
		border-radius: 0.5em;
		overflow: hidden;
		background-color: gray;
		position: relative;
	}

	&-img {
		height: 100%;
		object-fit: cover;
	}

	&-view {
		position: absolute;
		width: 100%;
		height: 100%;
		@include flexBox($ff: column nowrap);
		gap: 1em;
		background-color: $dark-acrylic;
		backdrop-filter: blur(0.2em) saturate(0.8);
		opacity: 0;
		transition: all 0.5s;

		&:hover {
			opacity: 1;
		}
	}

	&-btn {
		@include btn;
	}

	&-download {
		font-size: 3em;
		transition: all 0.2s;
		position: absolute;
		bottom: 0.1em;
		right: 0.1em;

		&:hover {
			color: $accent;
		}
		&:active {
			color: $primary;
		}
	}
}

@media (max-width: 768px) {
	.Versus {
		&-view {
			position: absolute;
			width: 100%;
			height: 100%;
			@include flexBox;
			background: linear-gradient(transparent 80%, $dark-acrylic 85%);
			backdrop-filter: none;
			opacity: 1;
			transition: all 0.2s;
		}

		&-btn {
			position: absolute;
			bottom: 0.5em;
			right: 0.5em;
		}

		&-download {
			right: unset;
			left: 0.1em;
			bottom: 0.1em;
		}
	}
}
