@import '../../../index.scss';

.Game {
	@include flexBox($ff: column nowrap);
	width: 100%;
	background-color: $secondary;
	color: $light;
	background-size: cover !important;
	z-index: 1;
	gap: 1em;

	&-wrapper {
		width: 100%;
		height: 100%;
		@include flexBox($ff: column nowrap);
		gap: 1em;
		background-color: $dark-acrylic;
		backdrop-filter: blur(1em);
		padding: 6em 2em 0;
	}

	&-picture {
		@include flexBox;
		width: 16em;
		height: 26em;
		border-radius: 0.5em;
		overflow: hidden;
		background-color: gray;
		position: relative;
	}

	&-img {
		height: 100%;
		object-fit: cover;
	}

	&-view {
		position: absolute;
		width: 100%;
		height: 100%;
		@include flexBox;
		background-color: $dark-acrylic;
		backdrop-filter: blur(0.2em) saturate(0.8);
		opacity: 0;
		transition: all 0.5s;

		&:hover {
			opacity: 1;
		}
	}

	&-download {
		font-size: 3em;
		transition: all 0.2s;

		&:hover {
			color: $accent;
		}
		&:active {
			color: $primary;
		}
	}

	&-options {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1em;
		width: 16em;
	}

	&-btn {
		@include btn;
	}
}

@media (max-width: 768px) {
	.Game {
		&-view {
			position: absolute;
			width: 100%;
			height: 100%;
			@include flexBox;
			background: linear-gradient(145deg, transparent 80%, $dark-acrylic 90%);
			backdrop-filter: none;
			opacity: 1;
			transition: all 0.2s;
		}

		&-download {
			position: absolute;
			bottom: 0.1em;
			right: 0.1em;
		}
	}
}
