@import '../../../index.scss';
.Header {
	@include flexBox($jc: space-between);
	width: 100%;
	height: 4.5em;
	color: $light;
	position: fixed;
	top: 0;
	z-index: 3;

	&--down {
		background-color: $primary;
	}

	&-h1 {
		@include flexBox;
		font-weight: 900;
		font-size: 2em;
		padding: 0 1em;
	}

	&-nav {
		@include flexBox($jc: end);
		width: 100%;
		height: 3em;
		padding: 0 1em;
		position: relative;
	}

	&-icon {
		width: 100%;
		height: 100%;
		@include flexBox;
		font-size: 3em;
		color: $light;
	}

	&-menu {
		width: 4em;
		height: 3em;
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: stretch;
		border-radius: 0.5em 0 0 0.5em;
		overflow: hidden;
		background-color: $light-acrylic;
		transition: width 1s;
		position: absolute;
		right: 0;
		z-index: 3;

		&--open {
			transition: width 0.3s;
			width: 50%;
			color: $light;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&-item {
		font-size: 1.2em;
		text-transform: capitalize;
		letter-spacing: 1px;
		font-weight: 700;
		height: 100%;
		width: 100%;
		@include flexBox;
		transition: all 1s;

		&:hover {
			transition: all 0.2s;
			background-color: $accent;
		}

		&:active {
			background-color: $primary;
		}
	}

	&-link {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.Header {
		&-menu {
			width: 4em;
			height: 3em;
			transition: all 1s;
			top: 0;
			grid-template-columns: unset;

			&--open {
				transition: all 0.3s;
				width: 8em;
				height: 18em;
				color: $light;
				justify-content: unset;
				grid-template-rows: repeat(4, 1fr);
			}
		}
	}
}

@media (max-width: 500px) {
	.Header {
		&-h1 {
			max-width: 5em;
			font-size: 1.5em;
			margin: 0 0.5em;
		}

		&-menu {
			&--open {
				background-color: $dark-acrylic;
			}
		}
	}
}
